:root{
    --search_width: 20rem;
}

body{
    background-color: rgb(224, 222, 222);
}

.container{
    display: flex;
    flex-direction: column;
    
}

#imgWrapper{
    display: block;
    text-align: center;
    background-color: #00695f;
    top:0;
    z-index: 1000;
    position: sticky;
}

.searchLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    flex-wrap: wrap;
}



._box{
    width: var(--search_width);
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding:5px;
    margin:5px;
    
    /*position: relative;
    /*right: 50%;
    left: calc(50% - 50px - var(--search_width)/2);
    /*background-color: green;*/
    
    
}

._box:focus{
    outline:none;
    border:2px solid black;
    border-radius: 20px;
}

.search{
    height: 40px;
    width: calc(var(--search_width)/2);
    margin-left: 10px;
    border-radius: 20px;
    border:none;
    background-color: #009688;
    color: white;
    font-size: 100%;
    margin: 5px;
}
.search:hover{
    background-color: #33ab9f;
    
    transition: background-color linear 0.1s;
    /*transition: background-color*/ 
    
}
.search:focus{
    border:2px solid black;
    border-radius: 20px;
    outline:none;
}


.mainBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
}

.fGrow{
    /*display: flex;*/
    flex-direction: column;
    /*flex-grow: 1;
    background-color:rgb(211, 218, 255);*/
    
    margin: 5px;
    border-radius: 20px;
    
    
}
.item{
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-between;
    /*flex-grow:1;
    border:5px solid rgb(211, 218, 255);*/
    font-size: 30px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    padding: 5px;
    
}

.fontColor{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.right{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    
}

.inner{
        
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius:15px;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
        
    
}

.rightInner{
    border-radius: 15px;
    background-color:#20bf55;
    flex-grow: 1;
background-image:linear-gradient(315deg, #20bf55 0%, #33ab9f 74%);


}

